<%- include('include/_header') %>

        <!-- Start Nav Bar -->
        <header class="header-one">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
      
                        <div class="collapse navbar-collapse main-menu-item "
                        id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto text-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">الرئيسيه</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/products">المنتجات</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/about">تعرف علينا</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">تواصل معنا</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/cart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Nav Bar -->

        <!-- Start breadcrumb Area -->
        <div class="page-area" style="background-image: url(/img/bg.jpg);">
            <div class="breadcrumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h3 class="text-white pt-3">تعرف علينا</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline pl-3">
                    <li><a href="/" class="active">الرئيسيه</a></li>
                    <li><i class="fas fa-chevron-left text-white m-1"></i></li>
                    <li><a href="/about">تعرف علينا</a></li>
                </ul>
            </div>
        </div>
        <!-- End breadcrumb Area -->

        <!-- Start About Section -->
        <div class="about-us mt-5 mb-5">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase">تعرف علينا</h2>
                        <div class="separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3 class="pt-5">
                            تاسست الشركه عام 2018 وهي شركة متخصصه في مختلف الصناعات الطبية
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <img src="/img/nurse.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Section -->

<%- include('include/_footer') %>      