<%- include('include/_header') %>

        <!-- Start Nav Bar -->
        <header class="header-one">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    
                        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
      
                        <div class="collapse navbar-collapse main-menu-item "
                        id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto text-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">الرئيسيه</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/products">المنتجات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">تعرف علينا</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/contact">تواصل معنا</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/cart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    
                </nav>
            </div>
        </header>
        <!-- End Nav Bar -->

        <!-- Start breadcrumb Area -->
        <div class="page-area" style="background-image: url(/img/bg.jpg);">
            <div class="breadcrumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h3 class="text-white pt-3">تواصل معنا</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline pl-3">
                    <li><a href="/" class="active">الرئيسيه</a></li>
                    <li><i class="fas fa-chevron-left text-white m-1"></i></li>
                    <li><a href="/contact">تواصل معنا</a></li>
                </ul>
            </div>
        </div>
        <!-- End breadcrumb Area -->

        <!-- Start Map Section -->
        <div class="map mt-2">
            <div class="container">
                <div class="map-inner">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd"
                        height="610" style="border:0" allowfullscreen="">
                    </iframe>
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Map Section -->

        <!-- Start Contact Section -->
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="contact-title">
                            <h4>تواصل معنا</h4>
                            <p>يمكنك التواصل معنا من خلال
                            </p>
                        </div>
                        <div class="contact-widget">
                            <div class="cw-item">
                                <div class="ci-icon mb-3">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="ci-text">
                                    
                                    <p>60-49 Road 11378 New York</p>
                                </div>
                            </div>
                            <div class="cw-item">
                                <div class="ci-icon mb-3">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="ci-text">
                                    
                                    <p>01127350004</p>
                                </div>
                            </div>
                            <div class="cw-item">
                                <div class="ci-icon mb-3">
                                    <i class="fab fa-whatsapp"></i>
                                </div>
                                <div class="ci-text">
                                    
                                    <p>01101350044</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->

<%- include('include/_footer') %>