    <%- include('include/_headerAdmin') %>

            <!-- Start page section -->
            <div class="content">
                <div class="container mt-5 mb-5">
                    <div class="row">
                        
                        <div class="col-md-6 mb-3">
                            <div class="card p-5">
                                <div class="col-md-12 text-center">
                                    <h3 class="mt-4">اقسام المنتجات</h3>
                                    
                                    <a href="/dashboard-proCategories" class="btn mt-3">التحكم</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card p-5">
                                <div class="col-md-12 text-center">
                                    <h3 class="mt-4">المنتجات</h3>
                                    
                                    <a href="/dashboard-products" class="btn mt-3">التحكم</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card p-5">
                                <div class="col-md-12 text-center">
                                    <h3 class="mt-4">اقسام الخدمات</h3>
                                    
                                    <a href="/dashboard-servCategories" class="btn mt-3">التحكم</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card p-5">
                                <div class="col-md-12 text-center">
                                    <h3 class="mt-4">الخدمات</h3>
                                    
                                    <a href="/dashboard-services" class="btn mt-3">التحكم</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card p-5">
                                <div class="col-md-12 text-center">
                                    <h3 class="mt-4">طلبات المنتجات</h3>
                                    
                                    <a href="/dashboard-proOrders" class="btn mt-3">التحكم</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="card p-5">
                                <div class="col-md-12 text-center">
                                    <h3 class="mt-4">طلبات الخدمات</h3>
                                    
                                    <a href="/dashboard-servOrders" class="btn mt-3">التحكم</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End page section-->
            
    <%- include('include/_footerAdmin') %>