<%- include('include/_headerAdmin') %>

        <div class="content">
            <div class="product-table m-5">

                <div class="col-md-12 text-center mt-5 pt-5">
                    <a href="/add-product" class="btn mb-3">اضافة منتج</a>
                </div>

                <% if(typeof message != 'undefined') { %>
                    <div class="col-md-12 text-center">
                        <h4 class="alert alert-danger mt-4">
                            <%= message %>
                        </h4>
                    </div>
                <% } %>

                <form action="/views/dashboard-products" method="post">
                
                    <table class="table table-striped table-bordered text-center mydatatable" style="width: 100%;">
                
                        <thead style="background-color: #2f323a;color: #fff;">
                            <tr>
                                <th>رقم التسلسل</th>
                                <th>الاسم</th>
                                <th>السعر</th>
                                <th>القسم</th>
                                <th>الوصف</th>
                                <th>الصوره</th>
                                <th>التحكم</th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <%- include('include/_show_products') %>
                        </tbody>
        
                    </table>

                </form>
    
            </div>
        </div>

<%- include('include/_footerAdmin') %>