<%- include('include/_headerAdmin') %>

        <div class="content m-5">
            <div class="conainer">
                <div class="product-table m-5">
                    
                    <div class="col-md-12 text-right mt-5 pt-5">
                        <a href="/dashboard-servCategories" class="btn mb-3">جميع الأقسام</a>
                    </div>
    
                    <div class="col-md-12 text text-center mt-5">
                        <div class="form-title">
                            <h2>قسم جديد</h2>
                            <div class="separator mb-2"></div>
                        </div>
                    </div>
                    
    
                    <form action="/api-updateServCategorie" method="post" id="add_categorie" enctype="multipart/form-data">
                          
                        <div class="row">
                            <div class="col-md-12 text-right">
    
                                <div class="row mb-2">
    
                                    <div class="col-md-2 d-md-block"></div>
    
                                    <!-- Text input-->
                                    <div class="form-group col-md-4">
                                        <label class="control-label" for="categorie_name">اسم القسم</label>  
                                        <input type="hidden" name="cataid" value="<%= categorie[0].scataid %>">
                                        <input id="categorie_name" name="scataname" class="form-control" type="text" value="<%= categorie[0].cataname %>">
                                    </div>
                                    
                                    <!-- Text input-->
                                    <div class="form-group col-md-4">
                                        <!-- Textarea -->
                                        <div class="form-group">
                                            <label class="control-label" for="filebutton">صورة القسم</label>
                                            
                                            <input id="image" name="scataimage" class="input-file" type="file">
                                        </div>
                                    </div>
    
                                    <div class="col-md-2 d-md-block"></div>
    
                                </div>
    
                                <div class="row mb-2">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <button type="submit" class="btn"> حفظ </button>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                    </form>
    
            </div>
            </div>
        </div>

<%- include('include/_footerAdmin') %>
        