<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>TKSWASEL</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css"/>
        <link rel="stylesheet" href="/css/style.css">

    </head>


    <body class="dashboard">

        <!-- Start Nav Bar -->
        <header class="header-one">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="/dashboard"><img src="/img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
      
                        <div class="collapse navbar-collapse main-menu-item "
                        id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto text-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard-proCategories">اقسام المنتجات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard-products">المنتجات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard-servCategories">اقسام الخدمات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard-services">الخدمات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard-proOrders">طلبات المنتجات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard-servOrders">طلبات الخدمات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">تسجيل الخروج</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Nav Bar -->

        <!-- Start breadcrumb Area -->
        <div class="page-area" style="background-image: url(/img/bg.jpg);">
            <div class="breadcrumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="breadcrumb">
                            <div class="section-headline">
                                <h3 class="text-white pt-3">لوحة التحكم</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcrumb Area -->
